<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smart Animal Detector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form method="post" th:action="@{/detect}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Detect</button>
                </form>
                <br>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-success"></p>
                <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
                <img class="img-fluid" th:src="'data:image/jpg;base64, ' + ${image}"
                     th:if="${image ne null}" alt="Detected Image" />
            </div>
        </div>
    </div>
</section>
</body>
</html>
